In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords

In [2]:
path="D:/royal_court/Property_recom-master/"
df=pd.read_csv(f'{path}data_gnr_jan.csv')

In [3]:
df.head()

,Society,addressLocality,agentCompanyName,agentMaskedmobilenumber,agentName,bathroom,bedroom,builderName,cityName,createdDate,...,locality,longitude,name,numberOfRooms,postedBy,price,priceInWord,projectName,propertyType,url
0,Golfforeste AC Apartments,Zeta 1,BD Green Home Pvt. Ltd.,+91-88XXXXXXX90,Praveen Choudhary,2.0,2.0,Paramount Group,Greater Noida,20200128,...,Zeta 1,NaN,2 BHK Apartment for Sale in Golfforeste AC Apa...,2.0,Agent,3710000.0,37.1 Lac,Golfforeste AC Apartments,Apartment,https://www.magicbricks.com/propertyDetails/2-...
1,SKA Metro Ville,"Eta 2, Eta",NaN,+91-91XXXXXXX15,SKA GROUP,2.0,2.0,SKA Group,Greater Noida,20200128,...,"Eta 2, Eta",28.496992,"2 BHK Apartment for Sale in SKA Metro Ville, E...",2.0,Builder,2560000.0,25.6 Lac,SKA Metro Ville,Apartment,https://www.magicbricks.com/propertyDetails/2-...
2,Prideville,Yamuna Expressway,Imperia Structures Ltd.,+91-74XXXXXXX93,Vipin,2.0,2.0,Imperia Structures Ltd.,Greater Noida,20200107,...,Yamuna Expressway,NaN,"2 BHK Apartment for Sale in Prideville , Yamun...",2.0,Builder,4680000.0,46.8 Lac,Prideville,Apartment,https://www.magicbricks.com/propertyDetails/2-...
3,Purvanchal Royal City,Chi 5,Purvanchal Projects Pvt. Ltd.,+91-78XXXXXXX42,Shashi Kapoor,4.0,4.0,Purvanchal Projects Pvt. Ltd.,Greater Noida,20200109,...,Chi 5,28.430194,4 BHK Apartment for Sale in Purvanchal Royal C...,4.0,Builder,11200000.0,1.12 Cr,Purvanchal Royal City,Apartment,https://www.magicbricks.com/propertyDetails/4-...
4,Stellar One,Greater Noida West,Stellar Ventures Pvt. Ltd.,+91-98XXXXXXX77,Stellar Ventures Pvt. Ltd.,2.0,2.0,Stellar Ventures Pvt. Ltd.,Greater Noida,20191230,...,Greater Noida West,28.576390,"2 BHK Apartment for Sale in Stellar One, Great...",2.0,Builder,3110000.0,31.1 Lac,Stellar One,Apartment,https://www.magicbricks.com/propertyDetails/2-...

# Data CLeaning

In [4]:
def null_values(DataFrame_Name):
    
    sum_null = DataFrame_Name.isnull().sum()
    total_count = DataFrame_Name.isnull().count()
    percent_nullvalues = sum_null/total_count * 100
    df_null = pd.DataFrame()
    df_null['Total_values'] = total_count
    df_null['Null_Count'] = sum_null
    df_null['Percent'] = percent_nullvalues
    df_null = df_null.sort_values(by='Null_Count',ascending = False)

    return(df_null)

In [5]:
null_values(df)

                         Total_values  Null_Count    Percent
agentCompanyName                 1555        1347  86.623794
builderName                      1555         805  51.768489
Society                          1555         793  50.996785
projectName                      1555         793  50.996785
longitude                        1555         654  42.057878
latitude                         1555         654  42.057878
floorno                          1555         167  10.739550
locality                         1555          96   6.173633
addressLocality                  1555          96   6.173633
floorSize                        1555          45   2.893891
numberOfRooms                    1555          35   2.250804
bedroom                          1555          35   2.250804
furnshingstatus                  1555           6   0.385852
bathroom                         1555           4   0.257235
price                            1555           3   0.192926
description                      1555           0   0.000000
id                               1555           0   0.000000
createdDate                      1555           0   0.000000
cityName                         1555           0   0.000000
name                             1555           0   0.000000
agentName                        1555           0   0.000000
postedBy                         1555           0   0.000000
priceInWord                      1555           0   0.000000
agentMaskedmobilenumber          1555           0   0.000000
propertyType                     1555           0   0.000000
url                              1555           0   0.000000

In [6]:
df.columns

Index(['Society', 'addressLocality', 'agentCompanyName',
       'agentMaskedmobilenumber', 'agentName', 'bathroom', 'bedroom',
       'builderName', 'cityName', 'createdDate', 'description', 'floorSize',
       'floorno', 'furnshingstatus', 'id', 'latitude', 'locality', 'longitude',
       'name', 'numberOfRooms', 'postedBy', 'price', 'priceInWord',
       'projectName', 'propertyType', 'url'],
      dtype='object')

In [7]:
df.drop(columns=['agentCompanyName','builderName'],inplace=True)

In [10]:
df.dropna(inplace=True)

In [11]:
df.shape

(607, 24)

In [12]:
df.head()

,Society,addressLocality,agentMaskedmobilenumber,agentName,bathroom,bedroom,cityName,createdDate,description,floorSize,...,locality,longitude,name,numberOfRooms,postedBy,price,priceInWord,projectName,propertyType,url
3,Purvanchal Royal City,Chi 5,+91-78XXXXXXX42,Shashi Kapoor,4.0,4.0,Greater Noida,20200109,"4 Bath,Semi-Furnished,19 floor A life where yo...",2505 FTK,...,Chi 5,28.430194,4 BHK Apartment for Sale in Purvanchal Royal C...,4.0,Builder,11200000.0,1.12 Cr,Purvanchal Royal City,Apartment,https://www.magicbricks.com/propertyDetails/4-...
5,Arihant Ambar,Greater Noida West,+91-88XXXXXXX26,Rajat Verma,2.0,2.0,Greater Noida,20191129,"2 Bath,Semi-Furnished,20 floor Arihant Ambar i...",1380 FTK,...,Greater Noida West,28.554937,"2 BHK Apartment for Sale in Arihant Ambar, Gre...",2.0,Builder,4680000.0,46.8 Lac,Arihant Ambar,Apartment,https://www.magicbricks.com/propertyDetails/2-...
7,Purvanchal Royal City,Chi 5,+91-99XXXXXXX16,Amit Kishore,1.0,1.0,Greater Noida,20200127,"1 Bath,Semi-Furnished,15 floor Luxury amenitie...",550 FTK,...,Chi 5,28.430194,1 BHK Apartment for Sale in Purvanchal Royal C...,1.0,Agent,3130000.0,31.3 Lac,Purvanchal Royal City,Apartment,https://www.magicbricks.com/propertyDetails/1-...
8,ATS Dolce,Zeta 1,+91-70XXXXXXX84,Abhay Jain,2.0,3.0,Greater Noida,20191127,"2 Bath,Semi-Furnished,7 floor Come celebrate l...",1500 FTK,...,Zeta 1,28.496754,"3 BHK Apartment for Sale in ATS Dolce, Zeta 1",3.0,Agent,5620000.0,56.2 Lac,ATS Dolce,Apartment,https://www.magicbricks.com/propertyDetails/3-...
11,Supertech Upcountry,Yamuna Expressway,+91-92XXXXXXX45,Raman Shukla,2.0,2.0,Greater Noida,20191108,"2 Bath,Semi-Furnished,1 floor Imagine stepping...",1155 FTK,...,Yamuna Expressway,28.370883,2 BHK Apartment for Sale in Supertech Upcountr...,2.0,Builder,2640000.0,26.4 Lac,Supertech Upcountry,Apartment,https://www.magicbricks.com/propertyDetails/2-...

In [13]:
city_master=df.cityName.unique()

In [14]:
locaity_master=df.locality.unique()

In [15]:
society_master=df.Society.unique()

In [17]:
bedroom_master=df.bedroom.unique()

In [24]:
property_typemaster=df.propertyType.unique()

In [18]:
city_master

array(['Greater Noida'], dtype=object)

In [19]:
df.propertyType.unique()

array(['Apartment', 'Penthouse', 'Builder Floor Apartment'], dtype=object)

In [23]:
df.floorSize.unique()

array(['2505  ', '1380  ', '550  ', '1500  ', '1155  ', '1197  ', '133  ',
       '1060  ', '1165  ', '2630  ', '1930  ', '500  ', '1475  ',
       '1350  ', '1050  ', '1440  ', '920  ', '2350  ', '1150  ',
       '1000  ', '1170  ', '1563  ', '108  ', '955  ', '1800  ', '1900  ',
       '1450  ', '1458  ', '2900  ', '690  ', '1230  ', '799  ', '1740  ',
       '1700  ', '3876  ', '1286  ', '1040  ', '1114  ', '1425  ',
       '1970  ', '1775  ', '1580  ', '2320  ', '1840  ', '1245  ',
       '1280  ', '990  ', '4630  ', '1080  ', '100  ', '2655  ', '831  ',
       '1520  ', '1659  ', '1680  ', '948  ', '3499  ', '1470  ',
       '3000  ', '1300  ', '2000  ', '1193  ', '1240  ', '555  ', '101  ',
       '1742  ', '1560  ', '2365  ', '1100  ', '1090  ', '1650  ',
       '860  ', '2075  ', '2420  ', '890  ', '2150  ', '1550  ', '650  ',
       '1235  ', '1745  ', '1750  ', '1206  ', '1920  ', '980  ',
       '2500  ', '1725  ', '1195  ', '995  ', '1600  ', '2550  ',
       '1729  ', '1132  ', '2005  ', '2300  ', '1830  ', '1185  ',
       '891  ', '1225  ', '1105  ', '1335  ', '925  ', '625  ', '1850  ',
       '1086  ', '960  ', '947  ', '1894  ', '910  ', '1918  ', '1160  ',
       '1033  ', '3092  ', '3210  ', '1220  ', '1210  ', '1075  ',
       '870  ', '1265  ', '1494  ', '855  ', '1737  ', '1765  ', '2250  ',
       '810  ', '1820  ', '525  ', '30  ', '1544  ', '600  ', '1398  ',
       '1115  ', '1062  ', '1147  ', '1250  ', '1990  ', '2175  ',
       '1875  ', '1640  ', '1021  ', '1505  ', '1595  ', '1035  ',
       '1175  ', '1515  ', '1445  ', '1735  ', '1565  ', '1290  ',
       '935  ', '1376  ', '790  ', '1005  ', '1055  ', '1385  ', '700  ',
       '1441  ', '1295  ', '1285  ', '450  ', '984  ', '845  ', '1330  ',
       '1873  ', '1255  ', '1097  ', '1270  ', '3570  ', '1189  ',
       '1164  ', '1222  ', '1375  ', '2054  ', '987  ', '1070  ',
       '1370  ', '515  ', '1825  ', '1340  ', '832  ', '1573  ', '1630  ',
       '1715  ', '1780  ', '1025  ', '1275  ', '1455  ', '895  ',
       '1495  ', '1260  ', '1267  ', '535  ', '950  ', '1229  ', '2645  ',
       '1015  ', '985  ', '1140  ', '1188  ', '900  ', '40  ', '1200  ',
       '1127  ', '1540  ', '1359  ', '1790  ', '850  ', '1421  ',
       '1960  ', '999  ', '1325  ', '1658  ', '915  ', '792  ', '1390  ',
       '930  ', '4000  ', '655  ', '2800  ', '1485  ', '1805  ', '1709  ',
       '1665  ', '3300  ', '1870  ', '225  ', '2650  ', '1541  ',
       '2400  ', '1095  ', '1710  ', '1694  ', '841  ', '1027  ',
       '1625  ', '840  ', '1457  ', '835  ', '1810  ', '1400  ', '1874  ',
       '3009  ', '158  ', '2037  ', '171  ', '997  ', '540  ', '1410  ',
       '96  ', '898  ', '1492  ', '410  ', '1110  ', '162  ', '2114  ',
       '1360  ', '2830  ', '7399  ', '4200  ', '2450  ', '2600  ',
       '1418  ', '1950  ', '2700  ', '132  '], dtype=object)

In [21]:
def replace_ftk(x):
    #print(x)
    if(re.findall(r'FTK',x)):
        result = re.sub(r'FTK','',x)
    else:
        result = x
    return (result)

In [22]:
df['floorSize']=df.floorSize.apply(lambda x : replace_ftk(str(x)))